.card {
  background: white;
  border-radius: 10px;
  width: 510px;
  padding: 10px;
  margin-top: 25px;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
}

.card_header,
.card_body {
  padding: 0.5rem;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}