.sidebar {
  width: 21.563rem;
  background: #0f70b7;
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  border: 2px solid red;
}

.sidebar_logo {
  height: 75px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar_logo span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar_menu {
  margin-top: 1rem;
}

.sidebar_menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}

.sidebar_menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar_menu a.active {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #0f70b7;
  border-radius: 30px 0px 0px 30px;
}

.sidebar_menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.main_container {
  margin-left: 21.563rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.updatefile {
  display: flex;
  gap: 10px;
  border-radius: 10px;
  align-items: center;
  overflow-x: hidden;
}

.user_wrapper {
  display: flex;
  align-items: center;
}

.user_wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

/* .user_wrapper small {
  display: inline-block;
  margin-top: -10px !important;
} */